<h1>{{ title }}</h1>
<button mat-button color="primary">hgvgh</button>

<div *ngIf = "success_msg; else error_msg">User Added Successfully</div>
<!-- <app-list-profile></app-list-profile> -->
<div>
<ng-template #error_msg>
    <div>User was not added</div>
</ng-template>
</div>
<h1>ngFor</h1>
<ul>
    <li *ngFor="let c of contacts">
        {{ c.name }} <br>
        {{ c.place }} <br>
        {{ c.contact }}
    </li>
</ul>
<h1>ngSwitch</h1>
<div [ngSwitch] = "name">
    <div *ngSwitchCase="'jeevan'">Jeevan is in name</div>
    <div *ngSwitchCase="'lola'">lola is in name</div>
    <div *ngSwitchCase="'lemon'">lemon is in name</div>
    <div *ngSwitchCase="'logan'">logan is in name</div>
    <div *ngSwitchDefault>default is in name</div>
</div>

<div *ngIf="isLoggedIn; else noLoggin"><div>{{ name }} is logged in </div></div>

<ng-template #noLoggin>
    <div>
        <span [style.fontsize]="namefont">{{ name }} </span>is logged out    
    </div>
</ng-template>


<h1>User Table</h1>
<table border="1" align="center">
    <tr>
        <th>Name</th>
    <th>Place</th>
    <th>Contacts</th>

    </tr>

    <tr *ngFor="let c of contacts">
        <td [style.color]="txtcolor">{{ c.name | uppercase }}</td>
        <td>{{ c.place }}</td>
        <td>{{ c.contact }}</td>
    </tr>
    
</table>

<button mat-button color="accent" (click)="hello()">Click</button>

<div class="alert alert-success" *ngIf="clicked">Button Clicked</div>

<div align="center">
    <input type="text" [(ngModel)]="salary"><br>
    <br>
    <input type="text" [(ngModel)]="tax"><br>
    <button (click)="incomeAmount()" mat-button color="green">Show Income</button>

</div>
<div align="center" >{{ income | currency:'INR' }}</div>
<div align="center" >{{ todayDate | date:'d-MM-yyyy' }}</div>


<router-outlet></router-outlet>